@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  width: auto;
  align-items: center;
}

.container {
  width: $base-size * 29;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
}

.login {
  width: $base-size * 20;
}

.input {
  width: $base-size * 20;
  margin: 20px auto;
  border: solid 1px $color-secondary;
  background-color: $color-navy;
  color: $color-light;
  &:hover {
    background-color: $color-light;
    border-color: $color-navy;
    color: $color-navy;
  }
}
