@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.tablehead {
  background-color: $color-navy;
}

.button {
  border: solid 1px $color-dark;
  border-radius: 0;

  &:hover {
    background-color: $color-navy;
    border: dashed 1px $color-dark;
    color: $color-light;
  }
  &:not(:first-child){
    margin-left: 10px;
  }
}
