@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.linkList {
  background-color: $color-light;
  width: 250px;

  li {
    list-style: none;
    padding-bottom: $base-size * 1;
    width: 100%;

    a {
      text-decoration: none;
      background: $color-dark;
      color: $color-light;
    }
  }
}