@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  width: auto;
  align-items: center;
}

.container {
  width: $base-size * 70;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: ($base-size * 3);
}

.tablehead {
  background-color: $color-navy;
}
