@import "../../../styles/settings.scss";

.component {
  padding: $base-size;
}

.table {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
