@import '../../../styles/settings.scss';

.component {
  background: /* $color-dark */ transparent;
  padding: ($base-size * 1.5) 0;
  color: $color-light;

  .logo {
    color: $color-dark;
    font-size: $base-size * 1.5;
    font-weight: 700;
  }

  nav {
    font-size: ($base-size * 1.3);
    display: flex;
    justify-content: center;
    align-content: center;

    a {
      color: $color-light;
      margin-right: ($base-size * 3);
      padding-bottom: ($base-size / 2);
      transition: color 0.4s linear;
      text-decoration: none;
      font-family: $font-link;
      font-size: $base-size * 1.2;
      &:last-of-type {
        margin-right: 0;
      }
      &:hover {
        color: $color-primary;
      }
      &:global(.active) {
        border-bottom: 4px solid $color-primary;
      }
    }
  }

  .contact {
    color: $color-dark;
    font-weight: 700;
    text-align: right;
    padding-left: $base-size;
  }

}

@media (max-width: 767px) {

  .component {
    text-align: center;

    nav {
      margin-top: ($base-size * 1.5);
    }

    .contact {
      text-align: center;
      margin-top: ($base-size * 1.5);
    }
  }
}
