@import '../../../styles/settings.scss';
//? Material UI styles are added after our predefined styles so they have a higher importance
//! to bypass import { StylesProvider } from '@material-ui/core/styles' in App.js;

.component {
  padding: $base-size 0;
  margin-left: auto;
}

.logo {
    // color: $color-dark;
    font-size: $base-size * 1.5;
    font-weight: 700;
    text-align: left;
}

.link {
  color: inherit;
}


@media (max-width: 767px) {
  .component {
    text-align: center;
    margin-top: ($base-size * 1.5);
  }
}
